main {
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

#trails-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
    gap: 1rem;
}

.trail-image{
    /* border: solid 1px #000; */
    min-width: 300px;
    text-align: center;
}

.trail-image img {
    width: 100%;
}

@media(min-width: 768px){
    #trails-gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1200px){
    #trails-gallery{
        grid-template-columns: repeat(3, 1fr);
    }
}